<section class="section" style="background-color:#2c2c36">
	<div class="container">
		<img src="{{site.baseurl}}/images/profile_2019.jpg" class="responsive-img">
		<br>
		<div class="col col-12" style="text-align: center;">
			<p class="text-center">
				Hello my name is <span class="discord-blue">Erick</span> and I am a Graduate with a
				<span class="discord-blue">Ms in Software Engineering</span>. Born and raised in
				<span class="success-color">Ciudad Juárez</span>
				, Chihuahua,
				<span class="error-color">Mexico</span>
				/ El Paso
				<span class="discord-blue">Texas.</span>
				I try to live a minimalist lifestyle, play video games, exercise️, study japanese... Did I mention I love tequila 🥃?
				If you want to learn more about me, check out my <a href="{{site.baseurl}}/contact/"
					class="discord-blue">social networks</a></span> or <a href="{{site.baseurl}}/blog/"
					class="discord-blue">blog posts</a></span>
				<br>
				<br>
				<span class="discord-blue">Coffee </span>☕ makes my mornings and my interests/hobbies include...
			<div class="post-tags">
				<a class="post-tags__tag">#メキシコ</a>
				<a class="post-tags__tag">#日本</a>
				<a class="post-tags__tag">#minimalism</a>
				<a class="post-tags__tag">#programing</a>
				<a class="post-tags__tag">#gaming</a>
				<a class="post-tags__tag">#music</a>
				<a class="post-tags__tag">#travel</a>
				<a class="post-tags__tag">#stoicism</a>
				<a class="post-tags__tag">#digitalNomad</a>
				<a class="post-tags__tag">#cooking</a>
				<a class="post-tags__tag">#techwear</a>
				<a class="post-tags__tag">#anime</a>
				<a class="post-tags__tag">#SOLDIER1stclass</a>
				<a class="post-tags__tag">#proudly-non-vegan</a>
				<a class="post-tags__tag">#intermitentfasting</a>
				<a class="post-tags__tag">#material-palenight</a>
			</div>
			</p>
		</div>
</section>