<div class="container text-center" style="text-align: center;">
	<h2>Cool pics from my <span class="discord-blue"><a href="http://instagram.erick-garcia.com"
				class="discord-blue">Instagram</a></span></h1>
		<div class="gallery-box">
			<div class="gallery">
				<img src="{{site.baseurl}}/images/home/gallery1.jpg">
				<img src="{{site.baseurl}}/images/home/gallery2.jpg">
				<img src="{{site.baseurl}}/images/home/gallery3.jpg">
				<img src="{{site.baseurl}}/images/home/gallery4.jpg">
				<img src="{{site.baseurl}}/images/home/gallery8.jpg">
				<img src="{{site.baseurl}}/images/home/gallery7.jpg">
				<img src="{{site.baseurl}}/images/home/gallery5.jpg">
				<img src="{{site.baseurl}}/images/home/gallery11.jpg">
				<img src="{{site.baseurl}}/images/home/gallery12.jpg">
				<img src="{{site.baseurl}}/images/home/gallery13.jpg">
				<img src="{{site.baseurl}}/images/home/gallery10.jpg">
				<img src="{{site.baseurl}}/images/home/gallery9.jpg">
			</div>
		</div>
</div>